<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.23.5/swagger-ui-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.23.5/swagger-ui-standalone-preset.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.23.5/swagger-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.23.5/swagger-ui.css">
</head>
<body>
        <div id="swagger-ui"></div>
        <script>
                window.onload = function() {
                    const ui = SwaggerUIBundle({
                        url: "http://localhost:8040/v2/api-docs?group=member",
                        dom_id: '#swagger-ui'
                    });
            
                    window.ui = ui
                }
                </script>
</body>


</html>